@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YeolrinGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrap_1{
    width: 100%;
    height: auto;
}

#cm_header{
    width: 100%;
    height: 110px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 4;
}

#header_nav_bar{
    width: 1140px;
    height: 110px;
    position: relative;
    /* position: fixed; */
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header_nav_bar a img{
    width: 130px;
    height: 55px;
}

#header_nav{
    width: 830px;
    height: 25px;
}

#header_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header_nav ul li a{
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7)
}

#header_nav ul li a:hover{
    color: #ba000c;
}

.btn_find_store{
    width: 140px;
    height: 40px;
    text-transform: capitalize;
    background-color: white;
    border-radius: 90px;
    text-align: center;
    padding-top: 7px;
    color: #ba000c;
    font-weight: bold;
    font-size: 16px;
}

.btn_find_store:hover{
    background-color: #ba000c;
    color: white;
}

#section1_slider1{
    width: 100%;
    height: 880px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slider1_text{
    width: 1000px;
    height: 770px;
    margin-top: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.s1_text_box{
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -200px;
}

.s1_text_box h5{
    color: #ba000c;
    font-size: 30px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 2px;
}

.s1_text_box h1{
    font-family: 'YeolrinGothic-Bold', serif;
    color: #333;
    font-size: 45px;
    font-weight: 400;
    line-height: 120%;
}

.s1_text_box p{
    font-family: 'adobaonlyR', serif;
    color: #666;
    font-weight: lighter;
    line-height: 130%;
}

.s1_button_box{
    width: 350px;
    height: 60px;
    background-color: #ba000c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slider1_img{
    width: 1600px;
    height: 885px;
    transform: rotate(29deg);
    position: absolute;
    top: 0;
    right: -920px;
    border-radius: 138px;
    overflow: hidden;
}

/* #slider1_img img{
    width: 1700px;
    height: 1000px;
    transform: rotate(-29deg);
} */

#wrap_2{
    background-color: skyblue;
    width: 100%;
    height: 716px;
}

#wrap2_content{
    background-color: violet;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.w2_text{
    width: 490px;
    height: 155px;
    background-color: rosybrown;
}

.w2_content{
    width: 100%;
    height: 561px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.w2c_box{
    background-color: gold;
    width: 370px;
    height: 560px;
}

.w2cb_img{
    background-color: #ba000c;
    width: 100%;
    height: 330px;
}

.w2cb_text{
    background-color: white;
    width: 100%;
    height: 230px;
}

#wrap_3{
    background-color: coral;
    width: 1280px;
    height: 770px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.w3_imgbox1{
    background-color: blue;
    width: 610px;
    height: 610px;
    margin-left: -200px;
}

.w3_textbox1{
    background-color: darkgoldenrod;
    width: 600px;
    height: 350px;
}

#wrap_4_video{
    background-color: skyblue;
    width: 100%;
    height: 550px;
}

#wrap_5{
    background-color: #f6f5f1;
    width: 100%;
    height: 1025px;
    display: flex;
    align-items: center;
}

.w5_content{
    width: 1140px;
    height: 796px;
    margin: 0 auto;
    background-color: aquamarine;
}

.w5c_text{
    background-color: pink;
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
}

.w5ct{
    background-color: burlywood;
    width: 560px;
    height: 100%;
}

.w5c_content{
    background-color: dodgerblue;
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.w5cc_box{
    background-color: red;
    width: 560px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.w5ccb{
    background-color: yellow;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w5cc_img{
    background-color: #ba000c;
    width: 175px;
    height: 163px;
}

.w5cc_text{
    background-color: white;
    width: 375px;
    height: 163px;
}

#wrap_6{
    background-color: greenyellow;
    width: 1140px;
    height: 985px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.w6_content{
    background-color: antiquewhite;
    width: 1140px;
    height: 707px;
}

.w6c_text{
    background-color: blueviolet;
    width: 490px;
    height: 155px;
}

.w6c_content{
    background-color: blue;
    width: 1140px;
    height: 551px;
    display: flex;
    justify-content: space-between;
}

.w6cc_box{
    background-color: gold;
    width: 375px;
    height: 550px;
}

#wrap_7{
    background-color: cornflowerblue;
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w7_content{
    background-color: bisque;
    width: 1140px;
    height: 555px;
}

#wrap_8{
    background-color: springgreen;
    width: 1140px;
    height: 635px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.w8_content{
    background-color: aquamarine;
    width: 1140px;
    height: 355px;
}

#wrap_9{
    background-color: blueviolet;
    width: 1140px;
    height: 1005px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.w9_content{
    background-color: silver;
    width: 100%;
    height: 726px;
}

.w9c_text{
    background-color: #ba000c;
    width: 490px;
    height: 155px;
}

.w9c_content{
    background-color: blue;
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
}

.w9cc_box{
    background-color: aquamarine;
    width: 375px;
    height: 100%;
}

#wrap_footer{
    background-color: lightcoral;
    width: 100%;
    height: 465px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer{
    background-color: black;
    width: 1140px;
    height: 340px;
    margin-bottom: 20px;
}

#ft_box1{
    background-color: white;
    width: 1140px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ft_sec{
    background-color: #ba000c;
    width: 280px;
    height: 100%;
}

#ft_box2{
    background-color: palevioletred;
    width: 1140px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

#ft_box2 img{
    width: 100px;
    height: 30px;
}

#ft_box2 h6{
    color: #ddd;
    font-size: 12px;
    font-family: 'adobaonlyR', serif;
    font-weight: 100;
}

#ft_box2 p img{
    width: 30px;
    height: 30px;
}