@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YeolrinGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HallymMjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 페이지1 메인 */
#section1_slider1{
    width: 100%;
    height: 880px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slider1_text{
    width: 1000px;
    height: 770px;
    margin-top: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.s1_text_box{
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -200px;
    z-index: 15;
}

.s1_text_box h5{
    color: #ba000c;
    font-size: 30px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 2px;
}

.s1_text_box h1{
    font-family: 'YeolrinGothic-Bold', serif;
    color: #333;
    font-size: 45px;
    font-weight: 400;
    line-height: 120%;
}

.s1_text_box p{
    font-family: 'adobaonlyR', serif;
    color: #666;
    font-weight: lighter;
    line-height: 130%;
}

.s1_button_box{
    width: 350px;
    height: 60px;
    background-color: #ba000c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slider1_img{
    width: 1600px;
    height: 885px;
    transform: rotate(29deg);
    position: absolute;
    top: 0;
    right: -920px;
    border-radius: 138px;
    overflow: hidden;
}

/* #slider1_img img{
    width: 1700px;
    height: 1000px;
    transform: rotate(-29deg);
} */

/* 페이지2 인기상품 */
#wrap_2{
    width: 100%;
    height: 716px;
}

#wrap2_content{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.w2_text{
    width: 490px;
    height: 155px;
    background-color: white;
}

.w2_text p{
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 7px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
}

.w2_text h2{
    color: #333;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
}

.w2_text h2:after{
    width: 85px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #ba000c;
    opacity: 0.7;
}

.w2_content{
    width: 100%;
    height: 561px;
    display: flex;
    justify-content: space-between;
}

.w2c_box{
    width: 370px;
    height: 560px;
}

.w2cb_img{
    width: 100%;
    height: 330px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0  0;
    border-bottom: none;
}

.w2cb_img img{
    width: 100%;
    height: 100%;
}

.w2cb_text{
    width: 100%;
    height: 230px;
    border: 1px solid #ddd;
    border-radius: 100px 0px 623px 77px / 0px 50px 160px 58px;
    padding: 40px 20px;
}

.w2cb_text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'YeolrinGothic-Bold', serif;
}

.w2cb_text p{
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 0;
    font-family: 'adobaonlyR', serif;
    font-weight: lighter;
}

/* 페이지3 할리스 역사 */
#wrap_3{
    width: 1280px;
    height: 770px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.w3_imgbox1{
    width: 610px;
    height: 610px;
    margin-left: -170px;
}

.w3_imgbox1 img{
    width: 100%;
    height: 100%;
}

.w3_textbox1{
    width: 650px;
    height: 350px;
    margin-bottom: -70px;
    margin-left: -50px;
}

.w3_textbox1 h5{
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 7px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
}

.w3_textbox1 h2{
    color: #333;
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 1.25;
    font-family: 'YeolrinGothic-Bold', serif;
}

.w3_textbox1 h4{
    color: #ba000c;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    font-family: 'HallymMjo-Regular'
}

.w3_textbox1 p{
    color: #555;
    margin-top: 15px;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 0;
    font-family: 'adobaonlyR', serif;
}

/* 페이지4 할리스 영상 */
#wrap_4_video{
    background-image: url(../img/index/video_banner.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 550px;
}

#w4_video_text{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#w4v_t{
    width: 50%;
    height: 100px;
    margin-top: -200px;
    text-align: center;
}

#w4v_t h2{
    font-family: 'Cardo', serif;
    font-size: 75px;
    color: #fff;
    text-transform: capitalize;
}

#video_icon{
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
}

#video_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 238, 238);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 11;
}

#close_btn{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
    background-color: #eee;
    margin: 50px auto 0;
    display: none;
    cursor: pointer;
}

#video_popup iframe{
   margin: 50px 320px;
   border: 0;
}

.video-play-button{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button span{
    display: inline-block;
    position: relative;
    z-index: 3;
    top: 6px;
    cursor: pointer;
}

.ti-control-play:before{
    content: "▷";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.video-play-button:after{
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all 200ms;
}

/* 페이지5 할리스 메뉴 */
#wrap_5{
    background-color: #f6f5f1;
    width: 100%;
    height: 1025px;
    display: flex;
    align-items: center;
}

.w5_content{
    width: 1140px;
    height: 796px;
    margin: 0 auto;
}

.w5c_text{
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
}

.w5ct{
    width: 560px;
    height: 100%;
}

.w5ct p{
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 7px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
}

.w5ct h2{
    color: #333;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
}

.w5ct h2:after{
    width: 85px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #ba000c;
    opacity: 0.7;
}

.w5ct_1{
    width: 560px;
    height: 100%;
    display: flex;
    align-items: center;
}

.w5ct_1 nav{
    width: 100%;
    height: 40px;
}

.w5ct_1 nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.w5ct_1 nav ul li{
    color: #333;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
}

.w5ct_1 nav ul li:hover{
    color: #ba000c;
    border-bottom: 2px solid #ba000c;
}

.w5c_content_1{
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.w5c_content_2{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.w5c_content_3{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.w5c_content_4{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.w5c_content_5{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.red{
    color: #ba000c !important;
    border-bottom: 2px solid #ba000c;
}


.w5cc_box{
    width: 560px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.w5ccb{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w5cc_img{
    background-color: #eee;
    /* border-radius: 10% 0 0 10%; */
    width: 175px;
    height: 163px;
}

.w5cc_img img{
    width: 100%;
    height: 100%;
}

.w5cc_text{
    background-color: white;
    width: 375px;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.w5cc_text h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    padding-bottom: 5px;
    color: #333;
    font-family: 'YeolrinGothic-Bold'   
}

.w5cc_text p{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 0;
    color: #555;
    font-family: 'adobaonlyR';
}

.w5cc_text h5{
    font-size: 18px;
    font-weight: 700;
    color: #ba000c;
    margin-top: 20px;
    line-height: 1.2em;
    font-family: 'lora',serif;
    text-transform: capitalize;
}

/* 페이지6 신상 음료 */
#wrap_6{
    width: 1140px;
    height: 985px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.w6_content{
    width: 1140px;
    height: 717px;
}

.w6c_text{
    width: 490px;
    height: 155px;
}

.w6c_text p{
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 7px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
}

.w6c_text h2{
    color: #333;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
}

.w6c_text h2:after{
    width: 85px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #ba000c;
    opacity: 0.7;
}

.w6c_content{
    width: 1140px;
    height: 561px;
    display: flex;
    justify-content: space-between;
}

.w6cc_box{
    width: 370px;
    height: 560px;
}

.w6cb_img{
    width: 100%;
    height: 330px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0  0;
    border-bottom: none;
}

.w6cb_img img{
    width: 100%;
    height: 100%;
}

.w6cb_text{
    width: 100%;
    height: 230px;
    border: 1px solid #ddd;
    border-radius: 100px 0px 623px 77px / 0px 50px 160px 58px;
    padding: 40px 20px;
}

.w6cb_text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'YeolrinGothic-Bold', serif;
}

.w6cb_text p{
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 0;
    font-family: 'adobaonlyR', serif;
    font-weight: lighter;
}

/* 페이지7 미정 */
#wrap_7{
    background-color: cornflowerblue;
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w7_content{
    background-color: bisque;
    width: 1140px;
    height: 555px;
}

/* 페이지8 미정 */
#wrap_8{
    background-color: #f6f5f1;
    width: 100%;
    height: 635px;
    display: flex;
    align-items: center;
}

.w8_content{
    background-color: aquamarine;
    margin: 0 auto;
    width: 1140px;
    height: 355px;
}

/* 페이지9 신상 푸드 */
#wrap_9{
    width: 1140px;
    height: 1005px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.w9_content{
    width: 100%;
    height: 726px;
}

.w9c_text{
    width: 490px;
    height: 155px;
}

.w9c_text p{
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 7px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
}

.w9c_text h2{
    color: #333;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
}

.w9c_text h2:after{
    width: 85px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #ba000c;
    opacity: 0.7;
}

.w9c_content{
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: space-between;
}

.w9cc_box{
    width: 370px;
    height: 100%;
}

.w9cb_img{
    width: 100%;
    height: 330px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0  0;
    border-bottom: none;
}

.w9cb_img img{
    width: 100%;
    height: 100%;
}

.w9cb_text{
    width: 100%;
    height: 230px;
    border: 1px solid #ddd;
    border-radius: 100px 0px 623px 77px / 0px 50px 160px 58px;
    padding: 40px 20px;
}

.w9cb_text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'YeolrinGothic-Bold', serif;
}

.w9cb_text p{
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 0;
    font-family: 'adobaonlyR', serif;
    font-weight: lighter;
}