@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YeolrinGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

#cm_header {
    position: fixed !important;
    background-color: white;
}

/* 765-949 */

@media screen and (min-width: 765px) and (max-width: 949px) {
    #wrap2 {
        width: 720px;
        height: auto;
        margin: 0 auto;
    }

    #w2_space {
        width: 100%;
        height: 110px;
    }

    #w2_content1 {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    #w2_content1 h1 {
        width: 100%;
        height: 15%;
        font-family: 'S-CoreDream-5Medium';
        color: #ba000c;
        letter-spacing: 2px;
        font-size: 50px;
        font-weight: bold;
    }

    .w2c1_map {
        width: 50%;
        height: 85%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px dashed #ba000c;
        border-radius: 2% 0 0 2%;
    }

    .w2c1_map img{
        width: 100%;
        height: 100%;
    }
    
    .w2c1_map_1{
        display: none;
    }
    
    #incheon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 84px;
        left: 98px;
        cursor: pointer;
    }

    #gyeonggi {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 98px;
        left: 132px;
        cursor: pointer;
    }

    #seoul {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 60px;
        left: 124px;
        cursor: pointer;
    }

    #gangwon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 62px;
        left: 187px;
        cursor: pointer;
    }

    #chungnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 154px;
        left: 109px;
        cursor: pointer;
    }

    #sejong {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 141px;
        left: 140px;
        cursor: pointer;
    }

    #chungbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 129px;
        left: 173px;
        cursor: pointer;
    }

    #daejeon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 181px;
        left: 150px;
        cursor: pointer;
    }

    #jeonbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 194px;
        left: 118px;
        cursor: pointer;
    }

    #gwangju {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 234px;
        left: 125px;
        cursor: pointer;
    }

    #jeonnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 273px;
        left: 113px;
        cursor: pointer;
    }

    #gyeongbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 155px;
        left: 215px;
        cursor: pointer;
    }

    #daegu {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 196px;
        left: 195px;
        cursor: pointer;
    }

    #ulsan {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 219px;
        left: 235px;
        cursor: pointer;
    }

    #busan {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 254px;
        left: 215px;
        cursor: pointer;
    }

    #gyeongnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 239px;
        left: 175px;
        cursor: pointer;
    }

    #jeju {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 322px;
        left: 95px;
        cursor: pointer;
    }

    #all {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 321px;
        left: 215px;
        cursor: pointer;
    }

    .w2c1_search {
        width: 50%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(186, 0, 12, 0.52);
        border-radius: 0 2% 2% 0;
    }

    .imgbox {
        width: 70%;
        height: 30%;
    }

    .imgbox img {
        width: 100%;
        height: 100%;
    }

    #inputbox {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #inputbox>input {
        width: 70%;
        height: 20%;
        text-align: center;
        border: 2px solid #ba000c;
        font-weight: bold;
        font-size: 15px;
    }

    #inputbox>input::placeholder {
        color: #ba000c;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        letter-spacing: 2px;
    }

    #inputbox>button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 93px;
        left: 270px;
    }

    #inputbox>button>img {
        width: 100%;
        height: 100%;
    }

    #w2_content2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .w2c2_store {
        width: 100%;
        height: 100%;
    }

    #w2_content2 h3 {
        width: 100%;
        height: 20%;
        margin-top: 40px;
        font-size: 30px;
        color: #333;
        font-family: 'YeolrinGothic-Bold';
        font-weight: bold;
    }

    #store_table table {
        width: 100%;
        height: 90%;
        border: 3px solid #f89ba1;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    #store_table table td {
        border: 2px solid #f0dedf;
        height: 50px;
        font-size: 14px;
        font-family: 'adobaonlyR';
    }

    #store_table table td:nth-child(1),
    #store_table table td:nth-child(2),
    #store_table table td:nth-child(4) {
        text-align: center;
    }

    #store_table table td:nth-child(3) {
        padding: 0 10px;
    }

    #w2_content3 {
        width: 20%;
        height: 90px;
        margin: 20px auto;
        position: relative;
    }

    #tb_more {
        width: 100%;
        height: 60px;
        border: none;
        background-color: #ba000c;
        opacity: 0.4;
        color: white;
        font-weight: bold;
        font-size: 30px;
        border-radius: 10px;
        font-family: 'adobaonlyR';
        position: absolute;
    }

    #tb_close {
        width: 100%;
        height: 60px;
        border: none;
        background-color: #ba000c;
        color: white;
        opacity: 0.4;
        font-weight: bold;
        font-size: 30px;
        border-radius: 10px;
        font-family: 'adobaonlyR';
        position: absolute;
        display: none;
    }

    #tb_more:hover,
    #tb_close:hover {
        opacity: 1;
    }
}