@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YeolrinGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

#cm_header {
    position: fixed !important;
    background-color: white;
}
/* 가장 큰 화면 작업시작 1200px 이상 */



#wrap2 {
    width: 1140px;
    height: auto;
    background-color: lightpink;
    margin: 0 auto;
}

#w2_space {
    width: 100%;
    height: 110px;
    background-color: white;
}

#w2_content1 {
    width: 100%;
    height: 500px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#w2_content1 h1 {
    width: 100%;
    height: 15%;
    background-color: blueviolet;
}

.w2c1_map {
    width: 50%;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#incheon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -191px 0 0 -135px;
    cursor: pointer;
}

#gyeonggi{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -165px 0 0 -60px;
    cursor: pointer;
}

#seoul{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -230px 0 0 -79px;
    cursor: pointer;
}

#gangwon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -228px 0 0 51px;
    cursor: pointer;
}

#chungnam{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -66px 0 0 -111px;
    cursor: pointer;
}

#sejong{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -90px 0 0 -45px;
    cursor: pointer;
}

#chungbuk{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -112px 0 0 24px;
    cursor: pointer;
}

#daejeon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -18px 0 0 -27px;
    cursor: pointer;
}

#jeonbuk{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 3px 0 0 -93px;
    cursor: pointer;
}

#gwangju{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 73px 0 0 -76px;
    cursor: pointer;
}

#jeonnam{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 143px 0 0 -103px;
    cursor: pointer;
}

#gyeongbuk{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: -65px 0 0 112px;
    cursor: pointer;
}

#daegu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 7px 0 0 70px;
    cursor: pointer;
}

#ulsan{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 46px 0 0 153px;
    cursor: pointer;
}

#busan{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 109px 0 0 113px;
    cursor: pointer;
}

#gyeongnam{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 83px 0 0 28px;
    cursor: pointer;
}

#jeju{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 229px 0 0 -140px;
    cursor: pointer;
}

#all{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(186, 0, 12, 0.3);
    background-color: rgba(186, 0, 12, 0.3);
    position: absolute;
    margin: 228px 0 0 113px;
    cursor: pointer;
}

.w2c1_search {
    width: 50%;
    height: 85%;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgbox {
    width: 70%;
    height: 30%;
    background-color: red;
}

.imgbox img {
    width: 100%;
    height: 70%;
}

#inputbox {
    width: 100%;
    height: 70%;
    background-color: plum;
}

#w2_content2 {
    width: 100%;
    height: auto;
    background-color: tomato;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.w2c2_store {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#w2_content2 h3 {
    width: 100%;
    height: 10%;
    background-color: yellow;
}

#store_table table {
    width: 100%;
    height: 90%;
    background-color: thistle;
}

#store_table table tr,
#store_table table td,
#store_table table th {
    border: 1px solid #333;
}

#pagenation{
    display: block;
    padding: 10px;
    text-align: center;
}

#pagination > a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
    background-color: rgba(0, 0, 0, 0.08);
    color: #000;
    font-weight: 600;
}

#pagination > a:last-child{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#pagination > a:hover{
    background-color: rgba(0, 0, 0, 0.03);
    color: #fb3c00;
}