@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobaonlyR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YeolrinGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HallymMjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

#cm_header {
    position: fixed !important;
    background-color: white;
}

/* 600-764 */

@media screen and (min-width: 600px) and (max-width: 764px) {
    #wrap2 {
        width: 550px;
        height: auto;
        margin: 0 auto;
    }

    #w2_space {
        width: 100%;
        height: 110px;
    }

    #w2_content1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    #w2_content1 h1 {
        width: 100%;
        height: 15%;
        font-family: 'S-CoreDream-5Medium';
        color: #ba000c;
        letter-spacing: 2px;
        font-size: 50px;
        font-weight: bold;
    }

    .w2c1_map {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px dashed #ba000c;
        border-radius: 2% 2% 0 0;
    }

    .w2c1_map img{
        width: 68%;
        height: 400px;
    }

    .w2c1_map_1{
        display: none;
    }

    #incheon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 79px;
        left: 189px;
        cursor: pointer;
    }

    #gyeonggi {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 93px;
        left: 226px;
        cursor: pointer;
    }

    #seoul {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 57px;
        left: 217px;
        cursor: pointer;
    }

    #gangwon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 58px;
        left: 283px;
        cursor: pointer;
    }

    #chungnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 145px;
        left: 201px;
        cursor: pointer;
    }

    #sejong {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 135px;
        left: 235px;
        cursor: pointer;
    }

    #chungbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 122px;
        left: 268px;
        cursor: pointer;
    }

    #daejeon {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 173px;
        left: 244px;
        cursor: pointer;
    }

    #jeonbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 185px;
        left: 210px;
        cursor: pointer;
    }

    #gwangju {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 222px;
        left: 218px;
        cursor: pointer;
    }

    #jeonnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 260px;
        left: 205px;
        cursor: pointer;
    }

    #gyeongbuk {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 147px;
        left: 313px;
        cursor: pointer;
    }

    #daegu {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 186px;
        left: 291px;
        cursor: pointer;
    }

    #ulsan {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 208px;
        left: 333px;
        cursor: pointer;
    }

    #busan {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 242px;
        left: 314px;
        cursor: pointer;
    }

    #gyeongnam {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 227px;
        left: 271px;
        cursor: pointer;
    }

    #jeju {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 307px;
        left: 187px;
        cursor: pointer;
    }

    #all {
        width: 30px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid rgba(186, 0, 12, 0.3);
        background-color: rgba(186, 0, 12, 0.3);
        position: absolute;
        top: 306px;
        left: 314px;
        cursor: pointer;
    }

    .w2c1_search {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(186, 0, 12, 0.52);
        border-radius: 0 0 2% 2%;
    }

    .imgbox {
        width: 70%;
        height: 30%;
    }

    .imgbox img {
        width: 100%;
        height: 100%;
    }

    #inputbox {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #inputbox>input {
        width: 70%;
        height: 20%;
        text-align: center;
        border: 2px solid #ba000c;
        font-weight: bold;
        font-size: 15px;
    }

    #inputbox>input::placeholder {
        color: #ba000c;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        letter-spacing: 2px;
    }

    #inputbox>button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 85px;
        left: 420px;
    }

    #inputbox>button>img {
        width: 100%;
        height: 100%;
    }

    #w2_content2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .w2c2_store {
        width: 100%;
        height: 100%;
    }

    #w2_content2 h3 {
        width: 100%;
        height: 20%;
        margin-top: 40px;
        font-size: 30px;
        color: #333;
        font-family: 'YeolrinGothic-Bold';
        font-weight: bold;
    }

    #store_table table {
        width: 100%;
        height: 90%;
        border: 3px solid #f89ba1;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    #store_table table td {
        border: 2px solid #f0dedf;
        height: 50px;
        font-size: 13px;
        font-family: 'adobaonlyR';
    }

    #store_table table td:nth-child(1),
    #store_table table td:nth-child(2),
    #store_table table td:nth-child(4) {
        text-align: center;
    }

    #store_table table td:nth-child(3) {
        padding: 0 10px;
    }

    #w2_content3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tb_more {
        width: 20%;
        height: 60px;
        border: none;
        background-color: #ba000c;
        opacity: 0.4;
        color: white;
        font-weight: bold;
        font-size: 30px;
        border-radius: 10px;
        font-family: 'adobaonlyR';
        margin: 20px 0 20px 0;
    }

    #tb_close {
        width: 20%;
        height: 60px;
        border: none;
        background-color: #ba000c;
        color: white;
        opacity: 0.4;
        font-weight: bold;
        font-size: 30px;
        border-radius: 10px;
        font-family: 'adobaonlyR';
        margin: 20px 0 20px 0;
        display: none;
    }

    #tb_more:hover,
    #tb_close:hover {
        opacity: 1;
    }
}